* {
  margin: 0;
  padd: 0;
  box-sizing: border-box;
}

.upload-background {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 17rem;
  height: 25rem;
  margin: 5rem auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #EBECF0;
  border: 1px solid #EBECF0;
}

.percent {
  position: relative;
  top: -85px;
}

.spinner-container {
  fill: aqua;
  stroke-width: 10;
  stroke: #000;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-linecap: round;
}

.upload-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner {
  fill: transparent;
  stroke-width: 12;
  stroke: #62a6f8;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-linecap: round;
}

.spinner-path {
  fill: transparent;
  stroke-width: 12;
  stroke: #e9ebed;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

.spin {
  animation: spinner 16s linear infinite;
}

.buttons {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* margin-top: 6rem; */
  /* padding-top: 1.5rem; */
  border-top: 2px solid #EBECF0;
  width: 100%;
}

.transferring {
}

/* .hide-transfer {
  display: none;
} */

@keyframes spinner {
  to {
    transform: rotate(1260deg);
    stroke-dashoffset: 0;
  }
}
